{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'css/reflect.css' %}" />
<header id="showcase">
<div class="container text-center">

<h1 class="btn btn-light" >Your password is </h1>
<br>
<h2 id="pass" >{{ password }}</h2>
<br>
<a href="{% url 'Home' %}" class="btn btn-dark">HOME    </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  href="{% url 'Password' %}">
    <input class= " btn btn-dark"  type="submit" value="anothr password" >
    </a>
</div>
</header>